html{
    background: radial-gradient(farthest-corner at right top,#21A09D, #06182D);
    height: 100%;
    font-family: 'Roboto', cursive;
}

.titulo{
   text-align: center;
   padding-top: 10px;
   font-size: 60px;
   color: white;
}

.conteudo {
    padding: 10vh 3em 0;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
}

.principal {
    min-width: 600px;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    display: flex;
    background: #C5965F;
    border-radius: 10px;
    gap: 2em;
    height: 400px;
}
  
.carrinho img {
    width: 300px;
}

.adicionar {
    width: 100%;
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #40112D;
}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: #40112D;
    color: #FFFFFF;
    cursor: pointer;
}

.lista {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 400px;    
}

.lista::-webkit-scrollbar {
    width: 18px;
}

.lista::-webkit-scrollbar-thumb {
    background-color: #40112D ;
    border-radius: 5px;
}


.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em;
    width: 600px;
    box-sizing: border-box;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #b0480b;
    color: #FFFFFF;
    font-weight: 400;
}
